h1,
h2 {
    text-align: center;
    color: rgb(177, 16, 16);
}

header>h3 {
    font-style: italic;
    text-align: right;
    margin-right: 50px;
    color: rgb(133, 3, 42);
    font-size: 30px;
}

strong {
    color: rgb(49, 73, 2);
    font-size: 23px;
}

body {
    background: rgb(244, 202, 112);
    background: linear-gradient(0deg, rgba(244, 202, 112, 1) 0%, rgba(173, 238, 147, 1) 25%, rgba(141, 240, 231, 1) 50%, rgba(173, 238, 147, 1) 75%, rgba(244, 202, 112, 1) 100%);
    border: 10px solid rgb(2, 83, 70);
}

.hr {
    border: 2px solid black;
}

li {
    font-size: 20px;
    font-weight: bold;

}

p {
    font-size: 20px;
    color: blue;
}
b{
    font-size: 22px;
    color: blue;
}



.inlineList {
    font-size: 20px;
    color: blue;
    font-weight: normal;
}

img {
    margin-left: 90px;
    width: 600px;
    height: 300px;
}

th,
td {

    padding: 10px;
    border: 5px groove orange;
    background-color: rgba(0, 0, 0, 0.079);
}

table {
    color: blue;

}

.fntgrn {
    color: rgb(8, 86, 4);

}