* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    background-color: black;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#slider {
    display: flex;
    width: 500px;
}

.slider_left {
    position: relative;
    animation-name: left;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes left {
    0% {
        left: 0px;
    }

    100% {
        left: 100px;
    }
}

.slider_right {
    position: relative;
    animation-name: right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes right {
    0% {
        left: 0px;
    }

    100% {
        left: 100px;
    }
}

div[class*="box"] {
    width: 100px;
    height: 100px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
}

.box1 {
    background-color: green;
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: yellow;
}

.box4 {
    background-color: blue;
}

.box5 {
    background-color: brown;
}

.effect {
    background-color: teal;
    color: white;
}
