
section {
    background-color: black;
    color: white;
    text-align: center;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    padding: 50px;
    overflow: hidden;
}

p {
    font-size: small;
    color: grey;
}

#sliderid{
    display: flex;
    transition: all;
    transition-property: ;
}

/* =================== Slide right =================== */

.slide-right {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}

/* =================== Slide left =================== */

.slide-left {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}

#box1 {
    margin: 10px;
    height: 100px;
    width: 120px;
    background-color: yellow;
}

#box2 {
    margin: 10px;
    height: 100px;
    width: 120px;
    background-color: red;
}

#box3 {
    margin: 10px;
    height: 100px;
    width: 120px;
    background-color: royalblue;
}

#box4 {
    margin: 10px;
    height: 100px;
    width: 120px;
    background-color: green;
}

#box5 {
    margin: 10px;
    height: 100px;
    width: 120px;
    background-color: skyblue;
}
