* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blackbg{
    background-color: rgba(0, 0, 0, 0.749);
    position: absolute;
    z-index: -1;

}
.bg{
    background-image: url(Images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
}
.container {
    display: flex;
    justify-content: space-between;
   
}

.row {
    width: 100vw;
    height: 100px;
    padding-top: 200px;
    
}

svg {
    padding-top: 150px;
    position: absolute;
    z-index: 1;
}

.text {
    color: white;
}
.text h2:hover{
    color: orangered;
}

.text h2 {
    text-align: center;
}

.text p {
    text-align: center;

}

div[class*=img] {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 155px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[class*=img]>h3 {
    width: 9rem;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 50px;
    margin-left: -50px;

}

.content{
    visibility: hidden;
    width: 155px;
    margin-top: 50px;

}



img:hover {
    scale: 1.2;
    background-color: #e74c3c;
    opacity: 0.8;
    visibility: visible;
    
}
img:hover +.content {
    opacity: 0.8;
    visibility: visible;
    color: #e74c3c;
    
  
}


img:hover +.content>p{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 5px solid orangered;

}

.img1 {
    
    top: 482px;
    left: 192px;
}

.img2 {
    top: 438px;
    left: 451px;
}

.img3 {
    top: 462px;
    left: 645px;
}

.img4 {
    top: 497px;
    left: 877px;

}

.img5 {
    top: 497px;
    left: 1093px;
}

